.card-item {
    width: 30%;
    min-width: 350px;
    margin: 10px;
}

.card-item:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardImage{
    height: 236px;
    width: 100%; 
    object-fit: contain;
    padding: 15px;
}

.cardTitle{
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}