.itemCount{
    width: 250px;
    /* height: 200px; */
    margin: auto;
    /* border: 1px black solid; */
    /* border-radius: 5%; */
    padding: 25px;
    display:flex;
    flex-wrap: wrap;
}

.itemCount h5 {
    margin: auto;
    /* display: block; */
    text-align: center;
}

.minusPlus{
    
    /* width: 200px; */
    margin: auto;
}

