.itemCount{
    width: 250px;
    margin: auto;
    padding: 25px;
    display:flex;
    flex-wrap: wrap;
}

.itemCount h5 {
    margin: auto;
    text-align: center;
}

.minusPlus{
    margin: auto;
}

